include "./cfg/animation.kdl"
output "HDMI-A-1" {
    mode "1366x768@59.790"

    scale 1.0

    transform "normal"
    position x=260 y=-768
}
include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"
output "eDP-1" {
    mode "1920x1080@60.000"

    scale 1.0

    transform "normal"
    position x=0 y=0
}
